shtml,body{
    height: 100vh;
	background-color: #fff;
}

footer{
    height: 5%;
    width:100%;
    position: fixed;
    bottom: 0;
	border: 1px solid #848484;
	background-color: #c2c2c2;
	text-shadow: 0.1em 0.1em 0.05em #880;
	line-height: 30px;
	text-align: center;
}

.license-cc-footer {
    margin-left: 72px;
}

.dgc-inner-main {
  margin-bottom: 30px;
  background: rgba(238, 238, 238, 0.7);
  border-radius: 6px;
}

.dgc-inner-main h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.dgc-inner-main p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}

.dgc-operation-ok{
	height: 255px;
	background: rgba(238, 238, 238, 0.7);
}

.dgc-operation-ok img{
	max-width: 100%;
	max-height: 82%;
	display: block;
	margin: 0 auto;
}

.dgc-operation-ok h1{
	margin-bottom: 0;
	letter-spacing: -1px;
	color:black;
	font: 20px bold Didot, serif;
}

.dgc-operation-ok h4{
	margin-bottom: 0;
	letter-spacing: -1px;
	text-align: center;
	color:black;
	font: 12px arial Georgia, serif;
}

.dgc-operation-ko{
	height: 250px;
	background: rgba(238, 238, 238, 0.7);
}

.dgc-operation-ko h1{
	margin-bottom: 0;
	letter-spacing: -1px;
	color:black;
	font: 20px bold Didot, serif;
}

.dgc-operation-ko h2{
	margin-bottom: 0;
	letter-spacing: -1px;
	text-align: center;
	color:gray;
	font: 15px arial Georgia, serif;
}

.dgc-operation-ko p{
	text-align: center;
	color: black;
	font: italic 10px/30px semi-condensed;
}

.dgc-operation-ko img{
	max-height: 60%;
	display: block;
	margin: 0 auto;
}

/* DgcAcademy brand */
.navbar .dgc-brand {
    color: #F9F9F9;
    float: left;
    font-weight: bold;
    margin-left: 1px;
    padding-right: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
    transition: all 0.2s linear 0s;
    font-size: large;
}

.navbar .dgc-brand:hover {
    color: #0088CC;
    float: left;
    font-weight: bold;
    margin-left: 1px;
    padding-right: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
    transition: all 0.2s linear 0s;
    text-decoration: auto;
    font-size: x-large;
}

/* Options drop down */
a .dgc-dropdown-options{
    font-size: initial;
}

#dropdown01 {
    background-color: #343a40;
    font-size: initial;
}

#dropdown01:hover {
    color: #0088CC;
    float: left;
    font-weight: bold;
    padding-left: 10;
    padding-right: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
    transition: all 0.2s linear 0s;
    text-decoration: auto;
    background-color: #343a40;
	font-size: large;
}

/* Página de información */


#topbar {
    background: none repeat scroll 0 0 #282828;
}
#topbar aside a {
    background: url("/DgcAcademy/images/toolbar/socialNSprite.png") no-repeat ;
    display: block;
    float: left;
    height: 18px;
    margin-top: 8px;
    padding: 0;
    text-indent: -9999em;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, , 0.44, 1) 0s;
    width: 18px;
}
aside a#topfacebook {
    background-position: 0 0; width: 30px; height: 25px;
}
aside a#toptwitter {
    background-position: 0 -231px; width: 30px; height: 25px;
}
aside a#topgoogleplus {
    background-position:  0 -77px; width: 30px; height: 25px;
}
aside a#toplinkedin {
    background-position: 0 -154px; width: 30px; height: 25px;
}

aside a#topfacebook:hover {
    background-position: 0 -37px; width: 30px; height: 25px;
}
aside a#toptwitter:hover {
    background-position: 0 -268px; width: 30px; height: 25px;
}
aside a#topgoogleplus:hover {
    background-position: 0 -114px; width: 30px; height: 25px;
}
aside a#toplinkedin:hover {
    background-position: 0 -191px; width: 30px; height: 25px;
}

#topbarInfo {
    background: none repeat scroll 0 0;
}
#topbarInfo aside a {
    background: url("/DgcAcademy/images/toolbar/socialNSprite2.png") no-repeat ;
    display: block;
    float: none;
    height: 18px;
    margin-top: 8px;
    padding: 0;
    text-indent: -9999em;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, , 0.44, 1) 0s;
    width: 18px;
}
aside a#topInfofacebook:hover {
    background-position: 0 0; width: 128px; height: 128px;
}
aside a#toptInfowitter:hover {
    background-position: 0 -534px; width: 128px; height: 128px;
}
aside a#topInfogoogleplus:hover {
    background-position:  0 -178px; width: 128px; height: 128px;
}
aside a#topInfolinkedin:hover {
    background-position: 0 -356px; width: 128px; height: 128px;
}

aside a#topInfofacebook {
    background-position: 0 -712px; width: 128px; height: 128px;
}
aside a#toptInfowitter {
    background-position: 0 -1246px; width: 128px; height: 128px;
}
aside a#topInfogoogleplus {
    background-position: 0 -890px; width: 128px; height: 128px;
}
aside a#topInfolinkedin {
    background-position: 0 -1068px; width: 128px; height: 128px;
}


#topbarInfoBuilt {
    background: rgba(238, 238, 238, 0.7);
	height: 97px;
}
#topbarInfoBuilt aside a {
    background: url("/DgcAcademy/images/toolbar/builtWithSprite.png") no-repeat ;
    display: block;
    float: left;
    height: 18px;
    margin-top: 18px;
    padding: 0;
    text-indent: -9999em;
    transition: ahll 0.25s cubic-bezier(0.165, 0.84, 0.44, , 0.44, 1) 0s;
    width: 18px;
}
aside a#topInfoJava {
    background-position: 0 -166px;
    width: 75px;
    height: 75px;
    margin-left: 71px;
}
aside a#toptInfoHibernate {
    background-position: 0 -88px; width: 100px; height: 28px;
	margin-left: 1px;
}
aside a#topInfoMaven {
    background-position: 0 -291px; width: 94px; height: 33px;
	margin-left: 1px;
}
aside a#topInfoSpring {
    background-position: 0 -374px; width: 82px; height: 25px;
	margin-left: 5px;
}
aside a#topInfoStruts {
    background-position: 0 -449px; width: 64px; height: 22px;
	margin-left: 5px;
}
aside a#topInfoBootstrap {
    background-position: 0 0; width: 130px; height: 38px;
	margin-left: 5px;
}

/* Estilos tabla */
th.dgc-action-row, tr.dgc-action-row{
    width: 30%
}

tr.dgc-row-inactive{
    background-color: lightslategray !important;
}

/* generalContainer */
#generalContainer {
 background-color: white;
 background-image: url("/DgcAcademy/images/geometry.jpg");
 min-height: 100%;
 display: flex;
 flex-direction: column;
}


.dgc-buttons-div {
    margin: 35px 100px 0 0;
	width:100%;
    text-align: center;
}

.dgc-button {
	display: inline-block;
}

div #leftMenu{
    border:gray;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    background: rgba(238, 238, 238, 0.3);
    color: #fff;
    transition: all 0.3s;
	min-width: 90%;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: lightblue;
	font: 12px bold Georgia, serif;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
	color: lightblue;
}
#sidebar ul li a:hover {
    color: #0088CC;
    background: lightblue;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.hero-unit {
  padding: 17px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  border-radius: 6px;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}

[class*="span"] {
  float: left;
}

.span80 {
  width: 80%;
}

.span700{
  width: 700px;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
	width: 723px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.mb44 {
  margin-bottom: 44px;
}

/*  Select  struts tag label */
td.tdLabel label.label {
font-size: inherit;
line-height: 2.5;
color:black;
text-align: left;
display: block;
}

.dgc-check-label {
    margin-bottom: 0;
    margin-left: 18px;
    margin-top: 5px;
}

.dgc-calendar {
  max-width: 800px;
}

.dgc-inner-main-calendar {
  padding: 0 60px 0 60px;
  background: rgba(238, 238, 238, 0.7);
  max-height: 600px;
}

.internal-container-calendar{
    max-width: 1200px;
}

.dgc-time-range{
	width: 200px;
	text-align: center;
}

/* Notifications */
.dgc-toast{
    opacity: 100% !important;
}

/* Loading spin */

.sk-chase {
  width: 290px;
  height: 290px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  } 100%, 0% {
    transform: scale(1.0);
  }
}

/* icons */
[class^="cus-"],
[class*=" cus-"] {
	display: inline-block;
	width: 5%;
	height: 3%;
	*margin-right: .3em;
	line-height: 1%;
	vertical-align: text-top;
	background-image: url("/DgcAcademy/images/toolbar/spriteFamFam.png");
	background-position: 4%;
	background-repeat: no-repeat;
}
[class^="cus-"]:last-child,
[class*=" cus-"]:last-child {
	*margin-left: 0;
}
/* icons code below */
.cus-add-tab{ background-position: 0 0; width: 16px; height: 16px; }
.cus-alert{ background-position: -66px 0; width: 16px; height: 15px; }
.cus-at{ background-position: -132px 0; width: 16px; height: 16px; }
.cus-close-tab{ background-position: -198px 0; width: 16px; height: 16px; }
.cus-close{ background-position: -264px 0; width: 16px; height: 14px; }
.cus-comment-speech{ background-position: -330px 0; width: 16px; height: 15px; }
.cus-cut{ background-position: -396px 0; width: 16px; height: 16px; }
.cus-download{ background-position: -462px 0; width: 16px; height: 16px; }
.cus-email{ background-position: -528px 0; width: 16px; height: 12px; }
.cus-favorite{ background-position: -594px 0; width: 16px; height: 16px; }
.cus-file{ background-position: -660px 0; width: 14px; height: 16px; }
.cus-folder{ background-position: -724px 0; width: 16px; height: 13px; }
.cus-home{ background-position: -790px 0; width: 16px; height: 16px; }
.cus-info{ background-position: -856px 0; width: 16px; height: 16px; }
.cus-left-arrow{ background-position: -922px 0; width: 16px; height: 13px; }
.cus-no-sign{ background-position: -988px 0; width: 16px; height: 16px; }
.cus-paste{ background-position: -1054px 0; width: 13px; height: 16px; }
.cus-preview{ background-position: -1117px 0; width: 600px; height: 489px; }
.cus-print{ background-position: -1767px 0; width: 16px; height: 15px; }
.cus-refresh{ background-position: -1833px 0; width: 16px; height: 16px; }
.cus-right-arrow{ background-position: -1899px 0; width: 16px; height: 13px; }
.cus-save{ background-position: 0 -539px; width: 16px; height: 16px; }
.cus-search{ background-position: -66px -539px; width: 15px; height: 16px; }
.cus-settings{ background-position: -131px -539px; width: 16px; height: 16px; }
.cus-tick{ background-position: -197px -539px; width: 16px; height: 16px; }
.cus-toggle{ background-position: -263px -539px; width: 16px; height: 16px; }
.cus-user{ background-position: -329px -539px; width: 16px; height: 16px; }
.cus-world{ background-position: -395px -539px; width: 16px; height: 16px; }
.cus-write{ background-position: -461px -539px; width: 16px; height: 16px; }
